<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img    src="../../../assets/img.jpg" alt="Climate Change"class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text"[(ngModel)]="nom" name="nom"class="form-control form-control-lg" />
                        <label class="form-label"type="text" id="nom"
                            for="form1Example13">Nom Utilisateur:</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" [(ngModel)]="password" name="password" id="password"
                            class="form-control form-control-lg" />
                        <label class="form-label">Password</label>
                    </div>


                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>





                </form>
            </div>
        </div>
    </div>
</section>